* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-padding-top: 4.3125rem;
}

@media only screen and (min-width: 931px) and (max-width: 1060px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 761px) and (max-width: 930px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 760px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }
}

body {
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

p,
a {
    font-size: 1.375rem;
}

h2 {
    font-size: 2.0625rem;
    font-weight: bold;
}

h3 {
    font-size: 1.60875rem;
    font-weight: bold;
}

h4 {
    font-size: 1.375rem;
    font-weight: bold;
}

h5 {
    font-size: 1.14125rem;
    font-weight: bold;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: seashell;
    opacity: 0.9;
}

header {
    position: fixed;
    width: 100%;
    padding: 0.5625rem 0.625rem;
    border-bottom: 0.0625rem solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: black;
}

.logo img {
    height: 3.125rem;
}

.links {
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
}

.left {
    margin-right: 1rem;
}

.middle {
    margin: 0 1rem;
}

.right {
    margin-left: 1rem;
}

main {
    width: 100%;
    position: relative;
    top: 4.3125rem
}

#mission {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#mission div.img-container {
    width: 75rem;
    height: 43.75rem;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mission-description {
    background-color: black;
    width: 100%;
    padding: 0.675rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 1.2;
}

#featured-tea {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#featured-tea div.gallery {
    width: 62.5rem;
}

#gallery-description {
    margin: 1.5rem auto;
}

#gallery-items {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

#gallery-items div.item {
    width: 18.75rem;
}

#gallery-items div.item img {
    width: 18.75rem;
    height: 12.5rem;
}

#gallery-items div.item h4 {
    padding: 0.625rem 0;
}

.item {
    margin: 0.5rem 1rem;
}

#locations {
    display: flex;
    justify-content: center;
}

#locations div.img-container {
    height: 31.25rem;
    width: 75rem;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-size: cover;
    background-position-y: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.branches-title {
    height: 6.25rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0.9375rem;
}

.branches {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media only screen and (max-width: 850px) {
    #locations div.img-container {
        height: auto;
    }
}

.branch {
    height: 18.75rem;
    width: 18.75rem;
    background-color: black;
    margin: 1.25rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12.5rem;
    padding: 1.25rem;
}

footer {
    position: relative;
    top: 4.3125rem;
    display: flex;
    padding: 1.25rem;
    justify-content: flex-start;
}